@model IEnumerable<RentalKendaraan.Models.Kendaraan>

@{
    ViewData["Title"] = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 vehicles__data">
    <h3 class="h4 title"><i class="bi__icon fas fa-car-alt"></i> &nbsp; Vehicles Data</h3>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a asp-action="Create" class="btn btn-sm btn-outline-dark text-decoration-none">
                <i class="fas fa-plus-circle"></i>
                <span>Create new data</span>
            </a>
        </div>
    </div>
</div>

<div class="table__vehicles">
    <table class="table table-striped table-hover table-responsive-lg" id="table_data">
        <thead class="table__head">
            <tr>
                <th>
                    @Html.DisplayName("Nama Kendaraan")
                </th>
                <th>
                    @Html.DisplayName("No Polisi")
                </th>
                <th>
                    @Html.DisplayName("No STNK")
                </th>
                <th>
                    @Html.DisplayName("Ketersediaan")
                </th>
                <th>
                    @Html.DisplayName("Jenis Kendaraan")
                </th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table_body">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamaKendaraan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoPolisi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoStnk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ketersediaan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdJenisKendaraanNavigation.NamaJenisKendaraan)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-area="@item.NamaKendaraan" asp-action="Details" asp-route-id="@item.IdKendaraan" class="btn btn-sm btn-success" title="Detail" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-info-circle"></i></a>
                            <a asp-area="@item.NamaKendaraan" asp-action="Edit" asp-route-id="@item.IdKendaraan" class="btn btn-sm btn-info" title="Edit" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-edit"></i></a>
                            <a asp-area="@item.NamaKendaraan" asp-action="Delete" asp-route-id="@item.IdKendaraan" class="btn btn-sm btn-danger" title="Delete" data-toggle="tooltip" data-placement="bottom"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
